### Python教科書　1章プログラム例

In [1]:
z = input()
print(z)

3
3

In [2]:
a = 2 * 3
b = 'World' * 3
print(a, b)

6 WorldWorldWorld

In [3]:
a = 1
a = a + 1
a

2

In [4]:
a += 1
a

3

In [5]:
b = 'Hello'
b = b + 'World'
b

'HelloWorld'

In [6]:
b += 'World'
b

'HelloWorldWorld'

【例】整数，浮動小数点を出力

In [7]:
print(11)   # 整数
print(11.5) # 浮動小数点数

11
11.5

【例】整数型，浮動小数点型に変換

In [8]:
print(int(11.5))   # 整数に変換
print(float(11))   # 浮動小数点に変換

11
11.0

In [9]:
print(0b11) # 2進数は0bを先頭に付ける
print(0o11) # 8進数は0oを先頭に付ける
print(0x11) # 16進数は0xを先頭に付ける

3
9
17

In [10]:
print(bin(17)) # 2進数で出力
print(oct(17)) # 8進数で出力
print(hex(17)) # 16進数で出力

0b10001
0o21
0x11

In [11]:
x = 0b10101010
x | 0xFF

255

In [12]:
x = 0b10101010
print('ア', bin(x ^ 0x00))  # 16進表記00のビット列と排他的論理和をとる。
print('イ', bin(x | 0x00))  # 16進表記00のビット列と論理和をとる。
print('ウ', bin(x ^ 0xFF))  # 16進表記FFのビット列と排他的論理和をとる。
print('エ', bin(x | 0xFF))  # 16進表記FFのビット列と論理和をとる。

ア 0b10101010
イ 0b10101010
ウ 0b1010101
エ 0b11111111

x=(00101000)<sub>2</sub>とy=(11110000)<sub>2</sub>のビットごとの論理積

In [13]:
x = 0b10101000
y = 0b11110000
bin(x & y)

'0b10100000'

In [14]:
string = 'Hello, World!'
string.lower()

'hello, world!'

【例】str.lower()を使用した後の変数の内容

In [15]:
string = 'Hello, World!'
string.lower()
string

'Hello, World!'

【例】str.lower()で変数の値を変更

In [16]:
string = 'Hello, World!'
string = string.lower()
string

'hello, world!'

In [17]:
squares = [1, 4, 9, 16, 25, 36]

In [18]:
squares[-3:]

[16, 25, 36]

In [19]:
squares[2] = 5
squares

[1, 4, 5, 16, 25, 36]

In [20]:
squares[2:5] = [6, 7, 8]
squares

[1, 4, 6, 7, 8, 36]

In [21]:
fruits = ['apple', 'brueberry', 'melon']

In [22]:
fruits[1:3]

['brueberry', 'melon']

In [23]:
numbers = (1, 2, 3, 4, 5, 6)

In [24]:
numbers[3]

4

In [25]:
numbers[3] = 2

TypeError: 'tuple' object does not support item assignment

In [26]:
tel = {'Mary': 2048, 'John': 4096}

In [27]:
tel['Mary']

2048

In [28]:
tel['John'] = 8192

In [29]:
tel

{'Mary': 2048, 'John': 8192}

In [30]:
basket = {'Apple', 'Melon', 'Apple', 'Water'}

In [31]:
basket

{'Apple', 'Melon', 'Water'}

In [32]:
strings = 'ABCDEFG'

In [33]:
strings[2:5]

'CDE'

In [34]:
strings[3] = 'C'

TypeError: 'str' object does not support item assignment

In [35]:
strings = 'HIJKLMN'

In [36]:
strings

'HIJKLMN'

In [37]:
lista = [1, 2, 3]
listb = lista
listb[1] = 4
print(lista, listb)

[1, 4, 3] [1, 4, 3]

In [38]:
lista = [1, 2, 5, 4, 3]
sorted(lista)

[1, 2, 3, 4, 5]

In [39]:
lista

[1, 2, 5, 4, 3]

In [40]:
lista = [1, 2, 5, 4, 3]
lista.sort()
lista

[1, 2, 3, 4, 5]

In [41]:
lista = [1, 2, 3, 4, 5]
del lista[2]
lista

[1, 2, 4, 5]

In [42]:
del lista[1:3]
lista

[1, 5]

In [43]:
fruits = ['Apple', 'Melon', 'Strawberry']
'Apple' in fruits

True

In [44]:
'Pumpkin' in fruits

False

In [45]:
stack = [1, 2, 3]
stack.append(4)
stack

[1, 2, 3, 4]

In [46]:
stack.pop()

4

In [47]:
stack

[1, 2, 3]

PUSH 1 → PUSH 5 → POP → PUSH 7 → PUSH 6 → PUSH 4 → POP → POP → PUSH 3

In [48]:
stack = []
stack.append(1)
stack.append(5)
stack.pop()
stack.append(7)
stack.append(6)
stack.append(4)
stack.pop()
stack.pop()
stack.append(3)
stack

[1, 7, 3]

In [49]:
a = 3
if a > 0:
    print('OK')

OK

In [50]:
b = 3
if b == 0:
    print('ぜろ')
elif b == 1:
    print('いち')
elif b == 2:
    print('に')
else:
    print('たくさん')

たくさん

【例】 and 演算の結果

In [51]:
a, b = 1, 2
a and b

2

【例】 if文の条件判定

In [52]:
if a and b:
    print('OK')

OK

In [53]:
a = 3
if a == 3: print('OK')

OK

In [54]:
a, b, c = 7, 5, 3
if a > b > c:
    print('OK')

OK

In [55]:
a = 1
while a < 10:
    print(a, end=' ')
    a += 1
else:
    print('END')

1 2 3 4 5 6 7 8 9 END

In [56]:
a = 1
while a < 10:
    print(a, end=' ')
    a += 1
    if a == 5: 
        break
else:
    print('END')

1 2 3 4

In [57]:
a = 1
while True:
    print(a, end=' ')
    a += 1
    if a == 5: 
        break

1 2 3 4

In [58]:
months = ['睦月', '如月', '弥生', '卯月', '皐月', '水無月', '文月', '葉月', '長月' ,'神無月' ,'霜月', '師走']
for month in months:
    print(month, end=' ')

睦月 如月 弥生 卯月 皐月 水無月 文月 葉月 長月 神無月 霜月 師走

In [59]:
for i in range(3):
    print(i, 'Hello')

0 Hello
1 Hello
2 Hello

In [60]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [61]:
for i in range(1, 100):
    if i % 2 == 1:
        print(i, end=' ')
        continue
    if i % 5 == 0:
        break

1 3 5 7 9

【注意！】無限ループの例　（こちらは強制終了する必要があります）

In [62]:
while True:
    pass

KeyboardInterrupt:

In [63]:
squares = []
for n in range(1, 6):
    squares.append(n**2)
squares

[1, 4, 9, 16, 25]

In [64]:
squares = [n**2 for n in range(1, 6)]
squares

[1, 4, 9, 16, 25]

In [65]:
squares = [n**2 for n in range(1, 6) if n % 2 == 1]
squares

[1, 9, 25]

In [66]:
for i in range(10, 5, -1):
    print(i, end=' ')

10 9 8 7 6

In [67]:
hello = [n for n in 'Hello' if n in 'hello']
print(hello)

['e', 'l', 'l', 'o']

In [68]:
NISHIN = [0] * 8  # NISHINの値を初期化

In [69]:
j = int(input())
for k in range(0, 8, 1):
    NISHIN[k] = j % 2
    j = j // 2

15

In [70]:
NISHIN

[1, 1, 1, 1, 0, 0, 0, 0]